body {
    font-family: 'Ubuntu', sans-serif;
}

.hero-header {
    background-color: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    width: cover;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-header img {
    margin-left: 80px;
}

.hero-header nav {
    margin-right: 100px;
}

.hero-header nav a {
    text-decoration: none;
    color: #FDFDFD;
    margin-left: 40px;
}

#block-one div {
    font-family: 'Ubuntu';
    font-style: normal;
     
}


#block-one div h1 {
color: #ff4081;
font-weight: 700px;
font-family: 'Ubuntu';
font-style: normal;
font-size:60PX ;
line-height: 69px;
width: 263px; ;
height: 69px ;
left: 82px;
top: 198PX;
text-transform: capitalize ;
margin-left: 5%;


}

#block-one div p{
    position: absolute;
    width: 317px;
    height: 23px;
    left: 82px;
    top: 235px;
    
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    
    
    color: #555555;
}    



#block-one .first p{
position: absolute;
width: 512px;
height: 40px;
left: 545px;
top: 406px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;

color: #FF4081;

}

#block-one .first span{
    position: absolute;
width: 724px;
height: 105px;
left: 545px;
top: 483px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

color: #000000;

}

#block-one .first a{
   
position: absolute;
width: 216px;
height: 25px;
left: 554px;
top: 654px;
text-decoration: none;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
position: absolute;
width: 233px;
height: 51px;
left: 545px;
top: 641px;

background: #419488;
border-radius: 62px;
position: absolute;
width: 233px;
height: 51px;
left: 545px;
top: 641px;
}

#block-one .second p{
    position: absolute;
width: 373px;
height: 40px;
left: 545px;
top: 947px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
text-align: center;

color: #FF4081;

}

#block-one .second span{
    position: absolute;
width: 724px;
height: 105px;
left: 545px;
top: 1024px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

color: #000000;

}

#block-one .second a{
position: absolute;
width: 216px;
height: 25px;
left: 554px;
top: 1212px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;



position: absolute;
width: 233px;
height: 51px;
left: 545px;
top: 1199px;

background: #2E948A;
border-radius: 62px;

}

#block-one .third p{
    position: absolute;
    width: 425px;
    height: 40px;
    left: 534px;
    top: 1581px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    
    color: #FF4081;
    
}
#block-one .third span{
position: absolute;
width: 724px;
height: 105px;
left: 560px;
top: 1658px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;

color: #000000;

}
#block-one .third a{
position: absolute;
text-align: center;
text-decoration: none;
width: 216px;
height: 25px;
left: 570px;
top: 1802px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;

position: absolute;
width: 233px;
height: 51px;
left: 561px;
top: 1789px;

background: #2E948A;
border-radius: 62px;

}

#block-one .first img {
    position: relative;
    
    margin-top: 5%;
    margin-right: 10%;
    height: 380px;
    width: 381px;
    margin-left: 5%;

}

#block-one .second img {
    position: relative;
    margin-top: 15%;
    margin-right: 10%;
    height: 380px;
    width: 381px;
    margin-left: 5%;

}

#block-one .third img{
    position: relative;
    margin-top: 15%;
    margin-right: 10%;
    height: 380px;
    width: 381px;
    margin-left: 5%;
    margin-bottom: 10%;
    

}
.block-one {
    display: flex;
    justify-content: center;
}

    
    .hero-footer {
        width: cover;
        height: 200px;
        background: #419488;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .three {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    
    .three a {
        text-decoration: none;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;   
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        padding: 14px 40px;
        border: 2px solid #FFFFFF;
        border-radius: 62px;
        margin-top: 10px;
    
    }
    #block-one .first hr{
        position: absolute;
width: 1244px;
height: 5px;
left: 82px;
top: 834px;

background: #C4C4C4;
    }
    #block-one .second hr{
        position: absolute;
width: 1244px;
height: 5px;
left: 98px;
top: 1424px;

background: #C4C4C4;
    }
    @media only screen and(max-width: 1076px){
        .hero-header{
          border: flex;
        }

        
     }

        